body {
  /* background-color: gray; */
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 0;
  /* height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  background-image: url(https://wallpaperaccess.com/full/17520.jpg);
  
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  text-align: center;
}

h1 {
  color: snow;
  border: 10px solid white;
  font-family: 'Source Serif 4', sans-serif;
  background-color: rgba(200,200,200,0.4);
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 0px 10px;
  font-size: 56px;
  /* font-size: 56px; */
  /* margin: 0 auto; */
}

h2 {
  color: snow;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section#board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.square {
  border: 3px solid black;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(230,230,230, 0.5);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Rowdies', cursive;
}

button {
  /* margin: 10px; */
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

